/* Oslo Sans font declarations */
@font-face {
  font-family: 'Oslo Sans';
  src: url('/Fravik_utslippsfribyggeplass/fonts/OsloSans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oslo Sans';
  src: url('/Fravik_utslippsfribyggeplass/fonts/OsloSans-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Oslo Sans';
  src: url('/Fravik_utslippsfribyggeplass/fonts/OsloSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oslo Sans';
  src: url('/Fravik_utslippsfribyggeplass/fonts/OsloSans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Oslo Sans';
  src: url('/Fravik_utslippsfribyggeplass/fonts/OsloSans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oslo Sans';
  src: url('/Fravik_utslippsfribyggeplass/fonts/OsloSans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Oslo Sans';
  src: url('/Fravik_utslippsfribyggeplass/fonts/OsloSans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oslo Sans';
  src: url('/Fravik_utslippsfribyggeplass/fonts/OsloSans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* Force Oslo Sans to override punkt-css */
body {
    font-family: 'Oslo Sans', system-ui, -apple-system, arial, sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
}

/* Ensure Oslo Sans is used in all Tailwind utilities */
* {
    font-family: inherit;
}
